/* header & menu*/
html, body, header {
   height: 60vh;
}

@media ( max-width : 740px) {
   html, body, header {
      height: 100vh;
   }
}

@media ( min-width : 800px) and (max-width: 850px) {
   html, body, header {
      height: 100vh;
   }
}

.navbar-collapse {
   margin-top: 40px;
}

.nav-link {
   font-weight: bold;
   font-size: 0.8em;
   border: 2px solid rgba(0, 0, 0, 0);
   transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
}

.nav-link:hover {
   color: rgb(238, 55, 51) !important;
   border-bottom: 1.5px solid rgb(238, 55, 51);
}

#body {
   margin-top: 107px;
}

.error {
   color: red;
}

/* avatar */
.avatar-small {
   width: 30px;
   height: 30px;
}

.avatar-medium {
   width: 150px;
   height: 150px;
}

.avatar-big {
   width: 200px;
   height: 200px;
}

/* back-to-top */
.back-to-top {
   display: none;
   position: fixed;
   bottom: 18px;
   right: 15px;
}

.back-to-top i {
   display: block;
   width: 36px;
   height: 36px;
   line-height: 36px;
   color: #fff;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -o-border-radius: 2px;
   text-align: center;
   background-color: #444;
   transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
}

.back-to-top:hover {
   text-decoration: none;
}

.back-to-top:hover i {
   background-color: rgb(238, 55, 51) !important;
}

/* carousel */
.carousel-caption{
   top: 55%;
   transform: translateY(-50%);
}
.h1-responsive{
   font-size: 3vw;
}
.caption-eng{
   font-size: 2vw;
}

/* board */
.table-notice {
   background: rgb(244, 247, 251);
}

table {
   table-layout: fixed;
}

tr {
   line-height: 1;
}

td, th {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

/* divider */
hr.style10 {
   border-top: 1px dotted #8c8b8b;
   border-bottom: 1px dotted #fff;
}

/* alumni */

div.contact_icon a {
   color: #808080;
   text-decoration: none;
}

div.contact_icon a:hover {
   color: #ee3733;
}



/* board */
.reply-date {
   font-size: 12px;
   /*    font-weight: bold; */
   color: rgb(130, 130, 130);
}

.btn1 {
   font-size: 12px;
   color: rgb(130, 130, 130) !important;
   font-weight: bold;
}

#total-reply-cnt {
   color: rgb(130, 130, 130) !important;
   font-weight: bold;
}

#reply-content::placeholder {
   font-weight: 300;
}

#reply-content {
   padding-left: 0.8rem;
   resize: none;
   height: 100px;
}

.rereply-content::placeholder {
   font-weight: 300;
}

.rereply-content {
   padding-left: 0.8rem;
   resize: none;
   height: 100px;
}

.reply-edit-content::placeholder {
   font-weight: 300;
}

.reply-edit-content {
   padding-left: 0.8rem;
   resize: none;
   height: 100px;
}

#search {
   height: 35px;
}

#search-tag {
   font-size: 14px;
   margin: 0;
   width: 100px;
   height: 100%;
   top: 0px;
   width: 90px;
}

#search-content {
   margin: 0;
   width: 250px;
   height: 100%;
   top: 0px;
}

input.radius-style {
   font-size: 14px;
   margin: 0;
   height: 100%;
   border-radius: .25rem 0 0 .25rem;
}

#search-btn.btn {
   border-radius: 0 .25rem .25rem 0;
   height: 100%;
   margin: 0;
}

/* footer */
.subscribe {
   margin: 0;
   width: 100%;
}

input.footer-mail.form-control {
   display: inline !important;
   float: left;
   width: 65%;
   margin: .5rem .5rem 0 0;
}

.subscribe.footer-mail-btn {
   float: right;
   width: 25%;
}

input.footer-mail-btn.btn-primary.btn {
   margin: .5rem 0 0 0;
}


.filebox label {
   margin: 0px auto;
   display: inline-block;
   padding: .5em .75em;
   font-size: inherit;
   line-height: normal;
   vertical-align: middle;
   background-color: #fdfdfd;
   cursor: pointer;
   border: 1px solid #ebebeb;
   border-bottom-color: #e2e2e2;
   border-radius: .25em;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}

.upload {
   color: #ee3733;
}

.font-color {
   color: #999;
}

#info span.label {
   font-size: .8rem;
   color: #757575;
}

div.label {
   color: #757575;
}

.title {
   font-size: 1rem;
   color: #757575;
}

.red-button {
   background-color: #ee3733;
}

.fileName {
   margin-left: 10px;
}

a.right {
   
}

#sort_option > a.before_selected {
   color: #757575;
}

#sort_option > a {
   color: #ee3733;
   text-decoration: none;
   font-size: 14px;
   font-weight: 450; 
   
}

#sort_option > a:hover {
   font-weight: 650; 
}

/*  baord view */
.bbs-table-view .info-box {
   margin-bottom: 20px;
}

.bbs-table-view .info-box th {
   border-right: 0;
}

.bbs-table-view .info-box  th, .bbs-table-view .info-box  td {
   border: 1px solid #e1e1e1;
   line-height: 19px;
   color: #252525;
}

.bbs-table-view th {
   padding: 7px 0 8px;
   text-align: center;
   font-size: 12px;
}

.bbs-table-view td {
   padding: 7px 0 8px 10px;
   font-size: 13px;
   font-weight: 500;
}

div.board_content {
   border: 1px solid #e1e1e1;
   min-height: 150px;
   padding: 15px 15px 0px 15px;
   font-size: 15px;
   font-weight: 500;
   margin-bottom: 20px;
}

div.board_content .row {
   padding: 15px 15px 0px 15px;
}

.bbs-table-view table {
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0;
   table-layout: fixed;
   word-wrap: break-word;
   word-break: keep-all;
}

div.board_button {
   margin-bottom: 20px;
}

div.board_button a {
   text-decoration: none;
   font-size: 15px;
}

div.board_button a:link, a:visited {
   color: #757575;
}

div.board_button  a:hover {
   color: #ee3733;
}

a.trash {
   text-decoration: none;
}

#fileList {
   padding: .5em 0px;
   font-size: 15px;
   font-weight: 500;
}