<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.worldfriends.bacha.dao.BoardDao">
   <!-- SQL문과 태그를 매핑 -->
   
   <select id="getCount" resultType="int"><![CDATA[
      select count(*) as total from boards
   ]]></select>
   <select id="getCountByOption" resultType="int" parameterType="Options"><![CDATA[
      select count(*) as total from boards where ${keyOption} LIKE '%${keyword}%'
   ]]></select>

   <!-- Student객체에 알아서 넣어주는데, CamelCase=true이므로 setcell_phone이 아니라 setCellPhone을 호출한다. -->
   <select id="selectList" resultType="Board" parameterType="Pagination"><![CDATA[
      select board_id, title, writer, writer_name, read_cnt, reg_date, seq from(
       select row_number() over (order by reg_date desc) as seq, 
       board_id, title, writer, writer_name, read_cnt, reg_date
       from boards) where seq between #{start} and #{end}
   ]]></select>
   
   <select id="selectListByOption" resultType="Board" parameterType="SortOption"><![CDATA[
      select board_id, title, writer, writer_name, read_cnt, reg_date, seq from(
       select row_number() over (order by ${option} desc) as seq, 
       board_id, title, writer, writer_name, read_cnt, reg_date 
      from boards where ${keyOption} LIKE '%${keyword}%') where seq between #{start} and #{end} 
    ]]></select>
   
   <select id="selectListUser" resultType="Board" parameterType="String"><![CDATA[
      select board_id, title, writer, writer_name, read_cnt, reg_date 
      from boards 
      where writer = #{admin} 
      order by reg_date desc 
   ]]></select>

   <select id="selectOne" resultType="Board" parameterType="int"><![CDATA[
      select * from boards
      where board_id = #{boardId}
   ]]></select>

   <!-- insert는 삽입된 레코드의 개수를 리턴/ 우리는 첨부파일을 올리기 위해 board_id 정보가 필요-->
    <!-- Board 매개변수에 테이블의 board_id 값을 boardId 필드에 넣어준다는 의미 -->
   <insert id="insert" parameterType="Board"
      useGeneratedKeys="true" keyColumn="board_id" keyProperty="boardId"><![CDATA[
      insert into boards
      (board_id, title, writer, writer_name, read_cnt, content, reg_date, update_date)
      values(boards_seq.nextval, #{title}, #{writer}, #{writerName}, 0, #{content}, sysdate, sysdate)
   ]]></insert>

   <update id="update" parameterType="Board"><![CDATA[
      update boards set
      title=#{title},
      content=#{content},
      update_date = sysdate
      where board_id=#{boardId}
   ]]></update>

   <delete id="delete" parameterType="int"><![CDATA[
      delete from boards
      where board_id = #{boardId}
   ]]></delete>

   <update id="increaseReadCnt" parameterType="int">
      update boards set
      read_cnt=read_cnt+1
      where board_id=#{boardId}
   </update>
</mapper>   